.alert {
  display: block;
  padding: .5rem .75rem;
  border-radius: .5rem;
  background: var(--border-color);

  &--success {
    background: var(--green);
    color: white;
  }

  &--error {
    background: var(--red);
    color: white;
  }
}
