.hidden {
  display: none;
}

.visible {
  display: initial;
}

@each $identifier, $breakpoint in $media-min-widths {
  @media (min-width: $breakpoint) {
    .#{$identifier}\:hidden {
      display: none;
    }

    .#{$identifier}\:visible {
      display: initial;
    }
  }
}
