.form-input {
  appearance: none;
  width: 100%;
  padding: .5rem .75rem;
  border: 0;
  border-radius: .5rem;
  background: var(--content-bg);
  color: var(--text-color);
  font-size: 1rem;
  font-family: var(--font-stack);

  &:focus {
    outline: 2px solid var(--text-color-dark);
  }

  &::placeholder {
    color: var(--text-color-medium);
    font-style: italic;
    font-size: .85rem;
  }

  &--large {
    font-size: 1.5rem;
    padding: .75rem 1.5rem;
    border-radius: 5rem;
  }
}

.form-label {
  display: block;
  margin: 1.5rem 0 .25rem;
  color: var(--text-color-light);
  font-family: var(--font-family-titles);
  font-weight: bold;

  &--large {
    font-size: 1.15em;
  }
}

.form-checkbox {
  appearance: none;
  background: var(--content-bg);
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  border-radius: .5rem;

  &:checked {
    background: var(--primary);
    box-shadow: inset 0 0 0 .35rem var(--content-bg);
  }
}

.help {
  margin: .25rem 0;
  font-size: .85em;
  font-style: italic;
  color: var(--text-color-medium);
}
