* {
	box-sizing: border-box;

  &::selection {
    background: var(--primary);
    color: white;
  }
}

html, body {
	width: 100%;
  min-height: 100vh;
}

body {
	position: relative;
  display: grid;
  grid-template-rows: 4.5rem auto auto;
	margin: 0;
	padding: 0 1.5rem;
	background-color: var(--body-bg);
	color: var(--text-color);
	font-size: 16px;
	font-family: var(--font-family);
	overflow-x: hidden;

  @include safari() {
    display: block;
  }
}

a {
	color: var(--primary);

	&:hover,
  &:active,
  &:focus {
		color: var(--secondary);
	}

	&:focus {
		outline: none;
	}
}

button {
  font-family: inherit;
}

mark {
  background: linear-gradient(130deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  text-shadow: var(--shadow-big);
}

blockquote {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 1.5rem;
  background: var(--body-bg);
  border-left: 2px solid var(--border-color);
  border-radius: 0 1rem 1rem 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  color: var(--text-color-dark);
  font-size: .75rem;
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.block {
  padding: 1.5rem;
  border-radius: 1rem;
  background: var(--bg-dark);
  box-shadow: var(--shadow-big);
}
