* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0 1.5rem;
	background-color: var(--body-bg);
	color: var(--text-color);
	font-size: 16px;
	font-family: var(--font-family);
	overflow-x: hidden;
}

a {
	color: var(--primary);

	&:hover,
  &:active,
  &:focus {
		color: var(--secondary);
	}

	&:focus {
		outline: none;
	}
}

mark {
  background: linear-gradient(130deg, var(--primary), var(--secondary));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  text-shadow: var(--shadow-big);
}

.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

.block {
  padding: 1.5rem;
  border-radius: 1rem;
  background: var(--bg-dark);
  box-shadow: var(--shadow-big);
}
